
$heading-clr: #000000;
$headin-underlineClr : #ffa500;

$imgContainer-bgClr : #ffa500;

$btn-clr : #ffa500;
$btn-bgClr : #ffffff;
$btn-shadowClr : #ffa500;

$DarkSlateGrey: hsl(234, 29%, 20%);
$CharcoalGrey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);

$gradiantClr-1 : rgb(255,62,131);
$gradiantClr-2 : rgb(255,105,59);

$fs : 16px ;
$ff : 'Roboto', sans-serif;