
:root {
    --bgClr : white;
    --txtClr : black;
    --boxShd : black;
    --accntClr : orange;
    --headin-underlineClr :rgb(21, 230, 21); 
}


body {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: start;

    .fa-solid {pointer-events: none;}

    .container {
        box-shadow: 0 0 5px black;
        padding: 2rem;
        display: grid;
        justify-items: center;
        row-gap: 2rem;
        position: relative;
        overflow: hidden;

        button {
            padding: 0.2rem 1rem;
            border-radius: 1rem;
        }

        .alert-cont {
            position: absolute;
            right: 0;bottom: 0; transform: translateX(200px);
            transition: 1s;
            text-align: center;
            padding: 0.4rem;
            border-top-left-radius: 0.6rem;
            border-bottom-left-radius: 0.6rem;


            &.success {
                transform: translateY(0);
                background-color: rgb(21, 230, 21);

            }

        #passEl{
            color: white;
            font-size: 600;
        }
        }
    }

}


@media (min-width:750px) {
    
    body {
         
}  
}

// TODO : Utility Classes //

body {
    
    h1.special-heading {
        font-variant: small-caps;
        position: relative;
        color: var(--txtClr);
        text-align: center;
        line-height: 1;

        &::before {
            position: absolute;
            content: "";
            width: 50%;
            height: 3px;
            background-color: var(--headin-underlineClr);
            bottom: -0.2rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    nav {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;

        padding-inline: 1rem;
        padding-block: 1rem 0;

        transition: 0.3S linear;

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: white;
            z-index: 1;

        }
        
        &.visible {
            background-color: white;
        }
    }

    .logo-menuBtn {

    }

    .logo {

    }

    .menu-btn {

    }

    .links-container {
        height: 0;
        overflow: hidden;
        transition: 0.3s linear;

        &.visible {
            height: 167px;

            ul li a {
                color: black;
            }
        }
    }

    ul.links {
        padding-block: 1rem;
        
        li {
            
            a {
                color: black;
                transition: 100ms ease-out;
                position: relative;
                border: none;
                border-radius: 0.3rem;
                padding: 0.3rem 0.6rem;
                position: relative;
                font-variant: small-caps;
                text-transform: capitalize;
    
                &:hover span:nth-of-type(1) {
                    transform: scale(1);
                    transition: 0.2s linear;
                }
                &:hover span:nth-of-type(2) {
                    transform: scale(1);
                    transition: 0.2s 0.2s linear;
                }
                &:hover span:nth-of-type(3) {
                    transform: scale(1);
                    transition: 0.2s 0.4s linear;
                }
                &:hover span:nth-of-type(4) {
                    transform: scale(1);
                    transition: 0.2s 0.6s linear;
                }
                
                span:nth-of-type(1) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: orange;
                    transform : scale(0);
                    transform-origin: left;
                }
    
                span:nth-of-type(3) {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: orange;
                    transform : scale(0);
                    transform-origin: right;
                }
    
                span:nth-of-type(2) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 2px;
                    height: 100%;
                    background-color: orange;
                    transform : scale(0);
                    transform-origin: top;
                }
    
                span:nth-of-type(4) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 100%;
                    background-color: orange;
                    transform : scale(0);
                    transform-origin: bottom;
                }
    
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: orange;
                    transform-origin: top left;
                    transform: scale(0);
                    z-index: -1;
                }
    
                &:hover::before {
                    transform: scale(1);
                    transition: 0.2s 0.8s linear;
                }
    
                &:hover {
                    transition: 0.2s 0.8s linear;
                    color: white;
                    background-color: orange;
    
                }
    
                &::after {
                    content: "\f303";
                    visibility: hidden;
                    color: white;
                    font-family: fontAwesome;
                    position: absolute;
                    top: calc(0% - 1.2rem);
                    left:0;
                }
    
                &:hover::after {
                    color: black;
                    animation: line 0.8s linear forwards;
                    visibility: visible;
                }
    
                @keyframes line {
                    20%{
                        top: calc(0% - 1.2rem);
                        left : 100%;
                    }
                    40%{
                        top: calc(0% + 1.2rem);
                        left : 100%;
                    }
                    60%{
                        top: calc(0% + 1.2rem);
                        left : 0;
                    }
                    80%{
                        top: calc(0% - 1.2rem);
                        left : 0;
                    }
                    100%{
                        top: calc(0% + 0.9rem);
                        left: 100%;
                    }
                }
            }
        }
    }

    ul.social-links {

        li {

            a {
                color : rgb(0, 102, 255);
                font-size: 1.4rem;
                transition: 300ms;

                &:hover {
                    transform: scale(1.4);
                }
            }
        }
    }

    .search-cont {
        display:flex;
        align-items: center;
        position: relative;
        border-radius: 50vw;
        overflow: hidden;
        box-shadow: 0 0 4px 1px var(--boxShd);
        

        input {
            width: 100%;
            border:none;
            outline: none;
            padding-inline: 1rem;
            padding-block: 0.2rem;
        }

        .cont-btn {
            position: absolute;
            right: 0;
            font-variant: small-caps;
            border:none;
            border-radius: 50vw;
            padding-inline: 1rem;
            height: 100%;
            background-color: var(--bgClr);
            color: var(--txtClr);
        }
    }

    .btn {
        font-variant: small-caps;
        border: 1px solid orange;
        color: var(--txtClr);
        outline: none;
        background-color: transparent;
        border-radius: 0.6rem;
        padding: 0.2rem 0.4rem;
        cursor: pointer;
        transition: 0.1s linear;
    
        &:hover {
            transform: scale(1.1);
            box-shadow: 0 0 1px 1px $btn-shadowClr,
            0 0 2px 2px $btn-shadowClr;
        }

        &:active {
            transform: scale(0.9);
            box-shadow: 0 0 1px 1px $btn-shadowClr,
            0 0 2px 2px $btn-shadowClr,
            0 0 3px 3px $btn-shadowClr,
            0 0 4px 4px $btn-shadowClr;
        }
     }

    .img-container-1 {
        width: min(70%,300px);
        position: relative;

         &::before{
                position: absolute;
                content: "";
                width: 97%;
                aspect-ratio: 1;
                background-color: $imgContainer-bgClr;
                left: 6%;
                bottom: 5%;
                border-radius: 50%;
            }
        &::after {
            position: absolute;
            content: "\f10e";
            font-family: fontAwesome;
            font-size: 150%;
            width: 30%;
            aspect-ratio: 1;
            background-color: $imgContainer-bgClr;
            border-radius: 50%;
            top: 0.6rem;
            color: white;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            border-radius: 50%;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: center center;
            position: relative;
            
            &:hover {
                transform: scale(2);
                box-shadow: 0 0 1px 1px $imgContainer-bgClr,
                0 0 1px 1px $imgContainer-bgClr,
                0 0 2px 2px $imgContainer-bgClr,
                0 0 2px 2px $imgContainer-bgClr,
                0 0 3px 3px rgb(255, 255, 255),
                0 0 3px 3px rgb(255, 255, 255),
                0 0 4px 4px rgb(255, 255, 255),
                0 0 4px 4px rgb(255, 255, 255);
                z-index: 1;
            }
        }
    }

    .img-container-2 {
        border-radius: 1rem;
        overflow: hidden;
        border: 3px solid rgb(255, 166, 0);
        aspect-ratio: 1;
        position: relative;
        transition: 1s;

        &.hover-in {
            animation: turn-in 0.6s ease-out;
        }
        @keyframes turn-in {

            70%{
                transform: rotate(390deg);
            }
            75%{
                transform: rotate(395deg);
            }
            80%{
                transform: rotate(400deg);
            }
            85%{
                transform: rotate(405deg);
            }
            100%{
                transform: rotate(360deg);
            }
        }
        &.hover-out {
            animation: turn-out 0.6s ease-out;
        }
        @keyframes turn-out {
            70%{
                transform: rotate(-390deg);
            }
            75%{
                transform: rotate(-395deg);
            }
            80%{
                transform: rotate(-400deg);
            }
            85%{
                transform: rotate(-405deg);
            }
            100%{
                transform: rotate(-360deg);
            }
        }
        

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            object-position: center center;
            position: relative;
            
        }
    }
}

@media (min-width:750px) {

    body {
    
        h1{

        }

        // nav {
        //     padding-block: 1rem; //
        // }

        .logo-menuBtn {
            grid-column: 1/2; //
            grid-row: 1/-1; //
        }

        .logo {

        }

        // .menu-btn {
        //     display: none; //
        // }
        
        .links-container {
            grid-column: 2/3; //
            grid-row: 1/-1; //
            height: auto; //
            overflow: visible; // 
            
            &.visible {
                height: auto; //
            }
        }

        ul.links {
            display: flex; //
            padding: unset; //
        }

        ul.social-links {

            li {
    
                a {
                    color : rgb(0, 102, 255);
                    font-size: 1.4rem;
                    transition: 300ms;
    
                    &:hover {
                        transform: scale(1.4);
                    }
                }
            }
        }
    }
}


// TODO : Animation Utiliy Classes

body {
    position: relative;

    .preloader-container{
        position: absolute;
        z-index: -2;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.4);
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        &.visible {
            z-index: 1;
        }

        .circle {
            background-color: transparent;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
    
            animation: don 1s ease-in-out infinite;
    
            &::after {
                content: "";
                position: absolute;
                background-color: white;
                inset: 4px;
                border-radius: 50%;
            }
    
            &::before {
                content: "";
                position: absolute;
    
                background-color: lightskyblue;
                inset: 0px;
    
                animation: border 3s ease-out infinite;
            }
        }

        @keyframes border {
            33% {
                transform: translateX(15px);
            }
            66% {
                transform: translateX(45px);
            }
        
        }

        @keyframes don {
            to {
                transform: rotateZ(360deg);
            }
        }
    } 
}




